.fixo {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
    display: block;
    width: 100%;
    text-align: center;
    
}

.explicacao{
    margin-top: 100px;
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
}
   
p{
    margin-left: 15px;
    margin-right: 15px;
}

body {
    background-color: rgb(43, 0, 9);
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

.block {
    display: block;
}

.display {
    font-size: 25px;
    margin-bottom: 0%;
    margin-left: 15px;
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
}
































alana


.table{
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}

.titulo_table{
    font-size: 25px;
    margin-bottom: 0%;
    margin-left: 15px;
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
}

.exemplo_table{
    display: table;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}
.inline_flex{
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}

.titulo_inline_flex{
    font-size: 25px;
    margin-bottom: 0%;
    margin-left: 15px;
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
}

.exemplo_inline_flex{
    display: table;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}
.inline_grid{
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}

.titulo_inline_grid{
    font-size: 25px;
    margin-bottom: 0%;
    margin-left: 15px;
    text-align: justify;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;
}

.exemplo_inline_grid{
    display: table;
    background-color: rgb(252, 248, 233);
    color: rgb(43, 0, 9);
    border-radius: 20px;  
}