header {
    background-color: rgb(65, 0, 0);
    color: aliceblue;
    font: optional;
    text-align: center;
    border-radius: 20px;
}

body {
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}