.fixo {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: rgb(65, 0, 0);
    color: aliceblue;
    border-radius: 20px;
    display: block;
    width: 100%;
    text-align: center;
    
}

.explicacao{
    margin-top: 100px;
    text-align: justify;
    background-color: rgb(65, 0, 0);
    color: aliceblue;
    border-radius: 20px;
}
   

body {

    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}








.block {
    display: block;
}